@media only screen and (min-width: 800px) {
nav button {
  display: none;
}
nav ul#firstNav {
  display: flex;
  margin-left: 2vw;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}


nav ul li a {
  border: none;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  padding: 1rem 1rem;
  align-items: center;
  justify-items: center;
}

.central {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #c3cbc5;
  color: #000000;
  margin: 1rem auto;
  padding: 1rem;
  min-width: 400px;
  max-width: 800px;
}

.central_1 {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #c3cbc5;
  color: #000000;
  margin: 1rem auto;
  padding: 1rem;
  min-width: 400px;
  max-width: 800px;
  margin: 0 auto;
  
}
.treinos {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #c3cbc5;
  color: #000000;
  margin: 1rem auto;
  padding: 1rem;
  min-width: 400px;
  max-width: 800px;
}

.hero {
  margin: 5px;
  width: 100%;
  
}


.news {
  margin: 5px;
  border: solid;
  margin: 0 auto;
  
}